test.json
{
    "name": "Menu Cost Shock Chatbot",
    "nodes": [
      {
        "id": "1",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "parameters": {
          "path": "shock-scenario",
          "httpMethod": "POST",
          "responseMode": "onReceived"
        }
      },
      {
        "id": "2",
        "name": "Call LLM Parser",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [550, 300],
        "parameters": {
          "url": "http://localhost:11434/api/generate", 
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "={ \"model\": \"llama2\", \"prompt\": \"Parse this restaurant scenario into JSON: {{$json[\"body\"][\"query\"]}}\" }"
        }
      },
      {
        "id": "3",
        "name": "Call Cost Engine",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [850, 300],
        "parameters": {
          "url": "http://localhost:8000/cost-engine",
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "={ \"parsed\": {{$json}} }"
        }
      },
      {
        "id": "4",
        "name": "Return Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1150, 300],
        "parameters": {
          "responseBody": "={{$json}}",
          "responseContentType": "application/json"
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Call LLM Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call LLM Parser": {
        "main": [
          [
            {
              "node": "Call Cost Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Cost Engine": {
        "main": [
          [
            {
              "node": "Return Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {}
  }
  